<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

       <bean id = "connectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
              <constructor-arg name="clusterConfig" ref="clusterConf"/>
              <constructor-arg name="poolConfig" ref = "poolConfig" />
       </bean>

       <bean id = "poolConfig" class="redis.clients.jedis.JedisPoolConfig">
              <property name="maxTotal" value="20"/>
              <property name="maxWaitMillis" value="3000"/>
       </bean>

       <bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
              <property name="connectionFactory" ref="connectionFactory"/>
       </bean>

       <bean name="clusterConf" class="org.springframework.data.redis.connection.RedisClusterConfiguration">
              <constructor-arg name="clusterNodes">
                     <list>
                            <value>121.41.76.204:7000</value>
                            <value>121.41.76.204:7001</value>
                            <value>121.41.76.204:7002</value>
                            <value>121.41.76.204:7003</value>
                            <value>121.41.76.204:7004</value>
                            <value>121.41.76.204:7005</value>
                     </list>
              </constructor-arg>
       </bean>
</beans>